[Unit]
Description=Buckle Spring - bucklespring keyboard feedback simulator
After=pipewire-input-filter-chain.service
BindsTo=pipewire-input-filter-chain.service

[Service]
ExecStart=/usr/bin/buckle
Type=simple
Restart=on-failure

[Install]
WantedBy=pipewire-input-filter-chain.service
